{% extends "galleries/gallery.html" %}
{% load static %}

{% block page-style %}
<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.9.4/dist/confetti.browser.min.js"></script>
{{ block.super }}
{% endblock page-style %}

{% block body-content %}
<audio id="foolsAudio" src="{% static 'clowns.mp3' %}" preload="auto" style="display: none;"></audio>
{{ block.super }}
{% endblock body-content %}

{% block ps-preinit %}
    lightbox.on('change', () => {
        const hasTag = lightbox.pswp.currSlide?.dynamicCaption?.element?.querySelector('[data-tag-tagname="Enter the Clowns"]');
        console.log(hasTag);
        if (hasTag) {
            startFools();
        }
    });
{% endblock ps-preinit %}

{% block ps-postinit %}
    let foolsStarted = false;

    function startFools() {
        if (foolsStarted) return;
        foolsStarted = true;

        confetti({
            particleCount: 400,
            spread: 70,
            angle: 60,
            startVelocity: 100,
            origin: { x: 0, y: 1 },
            zIndex: 100001
        });
        confetti({
            particleCount: 400,
            spread: 70,
            angle: 120,
            startVelocity: 100,
            origin: { x: 1, y: 1 },
            zIndex: 100001
        });
        document.getElementById('foolsAudio').play();
    } 
{% endblock ps-postinit %}