{% extends 'base.html' %}
{% load static %}

{% block title %}Edit Gallery{% endblock title %}

{% block page-style %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
<link rel="stylesheet" href="{% static 'manage_gallery.css' %}">
{% endblock page-style %}

{% block body-content %}
<div id="galleryTitle" class="center">
    <h1>{{ gallery.title }}</h1>
    <button onclick="edit_title()" title="Edit title">✏️</button>
</div>
<div class="center">
    <div>
        <label for="category" style="padding-right: 0.25rem;">Category: </label>
        <select name="category" id="galleryCategory">
            {% for category in categories %}
            <option value="{{category}}">{{category|title}}</option>
            {% endfor %}
            <option value="new">+ New category</option>
        </select>
    </div>
    <div>
        <label for="visible">Visible</label>
        <input type="checkbox" name="visible" id="galleryVisibility" {% if gallery.visible %}checked{% endif %}>    
    </div>
    <div>
        <label for="gallery_date">Date</label>
        <input type="date" name="gallery_date" id="galleryDate" value="{{ gallery.created_date|date:'Y-m-d' }}">
    </div>
</div>
<br>

<div id="listContainer"></div>

<div id="galleryButtonContainer">
    <button id="addMedia" title="Add media">Add media</button>
    <button id="addEmbed" title="Add embed">Add embed</button>
    <button id="submitGallery" onclick="save_gallery()">Save Gallery</button>
</div>
    
{% endblock body-content %}

{% block after-body %}
<template id="tag-template">
    <div class="tag" onclick="remove_tag(this)">
        <span class="tagLabel"></span>
    </div>
</template>

<template id="autocomplete-template">
    <div class="autocompletePopup">
        <ul></ul>
    </div>
</template>

<template id="new-image-template">
    <div class="mediaElement">
        <div class="mediaHeader">
            <span class="counter"></span>
            <button type="button" name="collapse" class="collapseButton"></button>
        </div>
        <div class="moveButtons">
            <button type="button" name="up">⬆️</button>
            <input type="text" name="order" value="0" class="orderInput">
            <button type="button" name="down">⬇️</button>
        </div>
        <form action="/update-media/">
            <div class="imageContainer">
                <div id="replaceme"></div>
                <label><input type="checkbox" name="loop">Loop</label>
                <button type="button" name="delete">Remove</button>
                <div class="previewOverlay"></div>
            </div>
            <div class="dataContainer">
                <div>
                    <label for="title">Title</label>
                    <input type="text" name="title" maxlength="256">    
                </div>
                <div>
                    <label for="creator_tags">Creator(s)</label>
                    <div class="tagInput">
                        <input type="text" name="creator_tags" class="tagInput">
                    </div>
                </div>
                <div>
                    <label for="tags">Tags</label>
                    <div class="tagInput">
                        <input type="text" name="tags" class="tagInput">
                    </div>
                </div>
                <div>
                    <label for="description">Creator's description</label>
                    <textarea type="textarea" name="description"></textarea>    
                </div>
                <div>
                    <label for="uploaderDescription">Uploader's description</label>
                    <textarea type="text" name="uploaderDescription"></textarea>    
                </div>
            </div>
            <input type="hidden" name="uuid">
        </form>
    </div>
</template>

<template id="editable-title-template">
    <input type="text" name="" id="">
    <button onclick="update_title()">✔️</button>
    <button onclick="edit_title()">❌</button>
</template>
<template id="gallery-title-template">
    <h1></h1>
    <button onclick="edit_title()">✏️</button>
</template>

<script>
    const gallery_id = "{{ gallery.id }}";
    let gallery_title = "{{ gallery.title|escapejs }}";
    const csrf_token = "{{ csrf_token }}";
    let original_category = "{{gallery.category|escapejs}}";
    const mediaPath = '/media/'
    const media_items = [
    {% autoescape on %}
        {% for media in media_items %}
            {
                'uuid': '{{media.uuid}}', 
                'src': '{{ media.file.url }}', 
                'type': '{{media.type}}', 
                'title': '{{media.title|escapejs}}', 
                'description': '{{media.description|escapejs}}', 
                'uploaderDescription': '{{media.uploaderDescription|escapejs}}', 
                'loop': '{{media.loop}}', 
                'creator_tags': [
                    {% for tag in media.creator_tags.all %}
                        '{{tag.tagname|escapejs}}',
                    {% endfor %}
                ],
                'tags': [
                    {% for tag in media.tags.all %}
                        {'tagname': '{{tag.tagname|escapejs}}', 'namespace': '{{tag.namespace|escapejs}}'},
                    {% endfor %}
                ],
            },
        {% endfor %}
    {% endautoescape %}
    ];
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="{% static 'manage_gallery.js' %}"></script>
{% endblock after-body %}