{% extends "galleries/gallery.html" %}

{% block title %}{{ site_brand_name }} - Fanart by {{page_obj.0.creators.0.tagname}}{% endblock title %}
{% block embed-title %}{{ site_brand_name }} | Fanart by {{page_obj.0.creators.0.tagname}}{% endblock embed-title %}
{% block page-description %}{{tag.tag_count}} fanart created by {{page_obj.0.creators.0.tagname}}{% endblock %}

{% block description_end %}
{% with gallery=media.media_gallery.first %}
{% if gallery and gallery.visible or perms.mediaserver.change_gallery %}
<p>Originally seen at <a href="/gallery/{{gallery.id}}">{{gallery.title}}</a></p>
{% else %}
<p style="color: gray; font-style: italic;">This post has not appeared in a gallery yet.</p>
{% endif %}
{% endwith %}
{% endblock description_end %}