{% extends "galleries/gallery.html" %}

{% block title %}Janart - Tag: {{tag.tagname}}{% endblock title %}
{% block embed-title %}Janart | Tag: {{tag.namespace}}:{{tag.tagname}}{% endblock embed-title %}
{% block page-description %}{{tag.tag_count}} fanart tagged with {{tag.namespace}}:{{tag.tagname}}{% endblock %}

{% block gallery-title %}
<h2>Tag: {{tag.namespace}}:{{tag.tagname}}</h2>
{{ tag.description|linebreaksbr|urlize }}
<p>Seen {{tag.tag_count}} time{{ tag.tag_count|pluralize }}</p>
{% endblock gallery-title %}

{% block description_end %}
<p>Originally seen at <a href="/gallery/{{media.media_gallery.first.id}}">{{media.media_gallery.first.title}}</a></p>
{% endblock description_end %}

{% block pagination %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" rel="prev">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" rel="next">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock pagination %}
