{% extends "galleries/gallery.html" %}

{% block title %}Janart - Tag: {{tag.tagname}}{% endblock title %}
{% block embed-title %}Janart | Tag: {{tag.namespace}}:{{tag.tagname}}{% endblock embed-title %}
{% block page-description %}{{tag.tag_count}} fanart tagged with {{tag.namespace}}:{{tag.tagname}}{% endblock %}
{% block extra-metadata %}
    {% if tag.namespace == "creator" %}
    <link rel="canonical" href="https://{{request.get_host}}/creator/{{tag.tagname}}">
    {% else %}
    <link rel="canonical" href="https://{{request.get_host}}/tags/{{tag.namespace}}/{{tag.tagname}}">
    {% endif %}
{% endblock extra-metadata %}

{% block gallery-title %}
<h2>Tag: {{tag.namespace}}:{{tag.tagname}} ({{tag.tag_count}} image{{ tag.tag_count|pluralize }})</h2>
{% if tag.description %}
<div id="tag-description" class="banner">
    <h2>About</h2>
    {{ tag.description|linebreaksbr|urlize }}
</div>
{% endif %}
{% endblock gallery-title %}

{% block description_end %}
{% with gallery=media.media_gallery.first %}
{% if gallery and gallery.visible or perms.mediaserver.change_gallery %}
<p>Originally seen at <a href="/gallery/{{gallery.id}}">{{gallery.title}}</a></p>
{% else %}
<p style="color: gray; font-style: italic;">This post has not appeared in a gallery yet.</p>
{% endif %}
{% endwith %}
{% endblock description_end %}

{% block pagination %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}" rel="prev">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" rel="next">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock pagination %}
