DJANGO_SECRET='long secret key here'
DISCORD_APPID='discord app id'
DISCORD_SECRET='discord secret'

POSTGRES_USERNAME='postgres username'
POSTGRES_PASSWORD='postgres password'
POSTGRES_DATABASE='database name'

DJANGO_MEDIA_ROOT='/home/caddy/jart-media/'
DJANGO_STATIC_ROOT='/home/caddy/jart-static/'

JANART_DEBUG=False

DJANGO_ALLOWED_HOSTS='janart.bulder.fi'

REMOTE_TOKEN='token for sending files to this server'
REMOTE_USERNAME='django user for remote files'

SITE_BRAND_NAME='Janart'
SITE_BRAND_DESC='The Joseph Anderson fanart Repository'
SITE_BRAND_EMBED='Find all of your favorite chans and kuns here'
SITE_BRAND_PLEA="You can submit fanart on the Discord server's #fanart channel!"
SITE_BRAND_COLOR='#1b1111'
