DJANGO_SECRET='long secret key here'
DISCORD_APPID='discord app id'
DISCORD_SECRET='discord secret'

POSTGRES_USERNAME='postgres username'
POSTGRES_PASSWORD='postgres password'
POSTGRES_DATABASE='database name'

DJANGO_MEDIA_ROOT='/home/caddy/jart-media/'
DJANGO_STATIC_ROOT='/home/caddy/jart-static/'

JANART_DEBUG=False

DJANGO_ALLOWED_HOSTS='janart.bulder.fi'

REMOTE_TOKEN='token for sending files to this server'
REMOTE_USERNAME = 'django user for remote files'