#galleryContainer {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: auto;
}
#titleContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: italic;

    p {
        color: rgba(255, 255, 255, 0.8);
    }
}
#reminder {
    --tagcolor: rgb(1, 248, 155);
}
#tag-description {
    --tagcolor: rgb(207, 207, 207);
}
.banner {
    border: 1px solid var(--tagcolor);
    color: var(--tagcolor);
    background-color: color-mix(in srgb, var(--tagcolor) 20%, transparent);
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.75rem;
    
    h2, p {
        margin: 0px;
        padding: 0px;
    }
    
    h2 {
        margin-bottom: 0.5rem;
    }
}
.album-image {
    max-width:100%;
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    border: solid 1px #360000;
    box-shadow: 0rem 0 0.5rem rgba(0, 0, 0, 0.55);
    scroll-margin-bottom: 1rem;
    overflow: hidden;

    img {
        height:auto;
        border-radius: 0.25rem;
        max-width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 1rem;
    }
    video {
        display: block;
        max-width: 100%;
        margin: auto;
        margin-bottom: 1rem;
        max-height: 80vh;
    }
    iframe {
        aspect-ratio: 16 / 9;
        border-radius: 0.25rem;
        margin-bottom: 1rem;
    }
}

iframe {
    border: none;
    border-radius: 0.25rem;
}

:is(div.pswp__dynamic-caption, span.mediaDescription):has(.tagContainer > .tag[data-tag-tagname="Spoiler Description"]) > p:not(:hover) {
    filter: blur(5px);
}
div.album-image:has(.tagContainer > .tag[data-tag-tagname="Sex Warning"]) > a:not(:hover)  {
    filter: blur(16px);
}
div.pswp__item:has(.tagContainer > .tag[data-tag-tagname="Sex Warning"]) > .pswp__zoom-wrap:not(:hover) {
    filter: blur(16px);
}

.tag[data-tag-tagname="Spoiler Description"] .tagCount {
    display: none;
}
.tag[data-tag-tagname="Sex Warning"] {
    --tagcolor: rgb(200, 200, 0);
    
    ::before { content: "🚨"; }
    .tagCount { display: none; }
}

.tag[data-tag-namespace="creator"] { font-size: 1.5rem; }

.album-image:link, .album-image:visited {
    color: white !important;
    text-decoration: none !important;
}
.pswp {
    backdrop-filter: blur(1rem) brightness(30%);
}
.pswp__bg {
    background: none !important;
}
.pswp__img {
    image-rendering: pixelated;
}
.pswp__dynamic-caption--aside {
    margin-top: 0px;
    bottom: 0;
    overflow-y: auto;
    height: max-content;
    max-height: 60vh;
    margin-left: 1rem;

    scrollbar-width: thin;
}
.pswp__dynamic-caption--below {
    margin-top: 0.25rem;
    padding: 0.5rem !important;
}

.pswp__dynamic-caption:not(.pswp__dynamic-caption--mobile) {
    overflow-y: auto;

    background-color: rgba(0,0,0,0.5);
    border-radius: 1rem;

}
strong {
    font-weight: bold;
    font-size: 1.4rem
}
p {
    font-size: 1rem;
}
.creatorDescription {
    border-left: solid 4px rgb(187, 58, 58);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0.5rem;
}
.uploaderDescription {
    font-style: italic;
}

.pagination {
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}