.holiday-gift-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    cursor: pointer;

    perspective: 2000px;

    * {
        pointer-events: none;
        transition: transform 2s cubic-bezier(.39,.58,.57,1);;
    }

    .door-1 {
        background: #461212 url(/static/snowflake.png);
        background-blend-mode: overlay;
        transform-origin: left;
    }
    .door-2 {
        background: #461212 url(/static/snowflake.png);
        background-blend-mode: overlay;
        transform-origin: right;
    }
    .ribbon-vertical {
        position: absolute;
        left: 30%;
        top: 0;
        width: 5rem;
        height: 100%;
        background: gold;
        transform: translateX(-50%);
        z-index: 1;
    }
    .ribbon-horizontal {
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        height: 5rem;
        background: gold;
        transform: translateY(-50%);
        z-index: 1;
        box-shadow: 0 1px 1rem rgba(0, 0, 0, 0.33);
    }
}

.holiday-gift-overlay:hover {
    filter: brightness(1.1);
}

.opened {
    pointer-events: none;

    .door-1 {
        transform: rotateY(90deg) translateX(-100%);
    }
    .door-2 {
        transform: rotateY(-90deg) translateX(100%);
    }
    .ribbon-vertical {
        transform: rotateZ(-50deg) translateY(200%);
    }
    .ribbon-horizontal {
        transform: rotateZ(70deg) translateY(3000%);
    }
}