main {
    max-width: 1000px;
    margin: 1rem auto;
    box-shadow: 0rem 0 0.5rem rgba(0, 0, 0, 0.75);
    padding: 2rem;
    border-radius: 1rem;
    background-color: rgba(0,0,0, 0.25);
    font-size: 1.2rem;
}
main h1 {
    margin-top: 0px;
}
form {
    display: inline;
}
.delete {
    background: none;
    color: #ffb4b4;
    border: solid 2px red;
    cursor: pointer;
}