.center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.listContainer {
    counter-reset: index;
}
.mediaElement {
    padding: 1rem;
    padding-top: 2rem;
    margin: 1rem 2rem;
    border: 2px solid black;
    display: flex;
    counter-increment: index;
    position: relative;
    gap: 1rem;

    form {
        display: flex;
        flex-direction:row;
        gap: inherit;
        width:100%;
    }
}
.mediaHeader {
    padding: 0px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    border-bottom: dotted 1px white;
    display: flex;
    justify-content: space-between;

    .collapseButton {
        flex-grow: 1;
        text-align: end;
        border: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }
    .collapseButton:hover {
        background-color: rgba(255, 255, 255, 0.1);
    }
    .collapseButton::after {
        content: "▲"
    }
}
.mediaHeader::before {
    content: counter(index);
    padding: 0.5rem;
}
.mediaElement.collapsed {
    .dataContainer {
        font-size: 0.8rem;
        pointer-events: none;

        > div {
            display: flex;
            flex-direction: row;
            gap: 0.5em;
            height: 1em;
            
            label::after {
                content: ": ";
            }

            input, textarea, .tagInput {
                background: none;
                color: white;
                border: none;
                flex-grow: 1;
                height: 1em;
                resize: none;
            }    
        }
        .tag {
            padding: 0px;
            height: 80%;
            font-size: 80%;
            margin: 0px;

            .tagLabel {
                padding: 0px;
                margin: 0px;
            }
        }
    }
    .imageContainer > *:not(img, p, video) {
        display: none;
    }
    .imageContainer > *:is(img, p, video) {
        width: 64px;
        height: 64px;
    }
    .collapseButton::after {
        content: "▼"
    }
}

.previewOverlay {
    display: none;
    position: fixed;
    top: 1rem;
    left: 1rem;
    bottom: 1rem;
    right: 1rem;
    pointer-events: none;
    z-index: 1;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}
.imageContainer:has(img:hover) > .previewOverlay {
    display: block;
}

.mediaElement[data-status='changed'] { border-color: red; }
.mediaElement[data-status='saving'] { border-color: yellow; }
.mediaElement[data-status='saved'] { border-color: green; }
.moveButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 3rem;

    input {
        text-align: center;
    }
}
.mediaElement:last-child button[name="down"] {
    display: none;
}
.mediaElement:first-child button[name="up"] {
    display: none;
}


.imageContainer {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;

    > img, input, button {
        margin-bottom: 0.5rem;;
    }

    > img, video {
        width: 128px;
        height: 128px;
        object-fit: cover;
    }

    > img+label {
        display:none;    
    }
}

.dataContainer {
    padding-top: 1rem;
    flex-grow: 1;

    > div {
        display:flex;
        flex-direction: column;
    }
    input, textarea {
        background-color: #221b1b;
        border: #8b8b8b solid 1px;
        border-radius: 0.5rem;
        color: white;
    }
    input {
        height: 34px;
    }
    textarea {
        max-width: 100%;
        resize: vertical;
    }    
}

.tagInput {
    display: flex;
    background-color: #221b1b;
    border: #8b8b8b solid 1px;
    border-radius: 0.5rem;
    position: relative;
    flex-wrap: wrap;

    input {
        border: none;
        flex-grow: 1;
        height: 34px;
    }
    input:not(:first-child) {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .autocompletePopup {
        position: absolute;
        top: 100%;
        background-color: white;
        max-height: 10rem;
        overflow-y: auto;
        color: black;
        width: calc(100% + 1rem);
        border: solid black 1px;
        border-radius: 0.25rem;
        box-shadow: 0px 3px 5px black;
        left: -0.5rem;
        z-index: 1;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        li {
            cursor: pointer;
            padding: 0.5rem;
        }
        li:first-child::before {
            content: "Tab →";
            color: rgb(56, 65, 75);
            border: solid 1px rgb(56, 65, 75);;
            border-radius: 0.25rem;
            padding: 0px 0.25rem;
            margin-right: 0.5rem;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.33);
        }
        li:hover {
            background-color: #ddd;
        }
    }
}

.tag:not(.collapsed) {
    font-size: initial;
}

.tag:hover {
    text-decoration: line-through;
    cursor: pointer;
    filter: saturate(0%);
}

#galleryButtonContainer {
    position: sticky;
    bottom: 0px;
    justify-content: end;
    display: flex;
    background-color: rgba(0,0,0,0.5);
    padding: 0.25rem;

    #addMedia {
        width: 4rem;
    }
}


#galleryTitle {
    display:flex;
}
