{% load static %}
{% load account %}
{% load socialaccount %}
<link rel="stylesheet" href="{% static 'header.css' %}">
<header>
    <span id="linkContainer" style="flex-grow: 1">
        <span>
            {% if perms.mediaserver.change_gallery %}
            <a href="{%url 'orphaned_media' %}">Orphan files</a>
            {% endif %}
            <a href="{% url 'all_tags' %}">All Tags</a>
        </span>
    </span>
    <a href="/galleries" style="text-decoration: none !important;">
        <img src="{% static site_brand_logo %}" alt="{{ site_brand_name }} Logo" height="80">
    </a>
    <span id="userContainer">
        <span>
        {% if not user.is_authenticated %}
            <a href="{% provider_login_url 'discord' %}">Discord Log-in</a>
        {% else %}
            {{user.username|escape}} (<a href="{% url 'account_logout' %}">Log Out</a>)
        {% endif %}
        </span>
    </span>
</header>
