{% load static %}
{% load account %}
{% load socialaccount %}
<link rel="stylesheet" href="{% static 'header.css' %}">
<header>
    <span style="flex-grow: 1"></span>
    <a href="/galleries" style="text-decoration: none !important;">
        <img src="{% static 'paper_janart_logo.png' %}" alt="Janart Logo" height="80">
    </a>
    <span id="userContainer">
        <span>
        {% if not user.is_authenticated %}
            <a href="{% provider_login_url 'discord' %}">Discord Log-in</a>
        {% else %}
            {{user.username|escape}} (<a href="{% url 'account_logout' %}">Log Out</a>)
        {% endif %}
        </span>
    </span>
</header>
