{% extends "base.html" %}

{% block title %}{{ site_brand_name }} - 500{% endblock title %}

{% block page-description %}Internal server error{% endblock page-description %}

{% block page-style %}
<style>
    main {
        max-width: 1000px;
        margin: 1rem auto;
        box-shadow: 0rem 0 0.5rem rgba(0, 0, 0, 0.75);
        padding: 2rem;
        border-radius: 1rem;
        background-color: rgba(0,0,0, 0.25);
        font-size: 1.2rem;
    }
</style>
{% endblock page-style %}

{% block body-content %}
<main>
    <h1>500</h1>
    <p>Something went wrong when processing your request.</p>
</main>
{% endblock body-content %}

{% block after-body %}
{% endblock after-body %}