{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{{ site_brand_name }}{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'common.css' %}">
        <link rel="stylesheet" href="{% static 'normalize.css' %}">
        <meta name="description" content="{% block page-description %}{{ site_brand_desc }}{% endblock %}">
        <meta content="{% block embed-title %}{{ site_brand_name }}{% endblock %}" property="og:title">
        <meta content="{% block embed-description %}{{ site_brand_embed }}{% endblock %}" property="og:description">
        <meta content="{{ site_brand_url }}" property="og:url">
        <meta content="{% static site_brand_icon %}" property="og:image">
        <meta name="twitter:image" content="{% static site_brand_icon %}">
        <meta content="#43B581" data-react-helmet="true" name="theme-color">
        {% block extra-metadata %}{% endblock extra-metadata %}
        <link rel="shortcut icon" href="{% static site_brand_icon %}" type="image/png">
        <style>
            html {
                --background-color: {{ site_brand_color }};
            }
        </style>
        {% block page-style %}{% endblock page-style %}
    </head>
    <body>
        {% include 'components/header.html' %}
        {% block body-content %}
            <p>Body Text</p>
        {% endblock body-content %}
    </body>
        {% block after-body %}{% endblock after-body %}
</html>